body
  display !0
  visibility not true is false
  left -5px
  margin 1+2px
  list = 1 2 3
  color 1 in list
  padding list[-1]
  range = 1...5
  math = 1+2- 3*4/5 %6**7
  color = color is defined ? color : white
  color := white
  color ?= white