@import 'path1'

var = '"'

@font-face
  src: url('Lucida Grande.ttf')

body
  if x is a 'number'
    width 'calc(100% - %s)' % x
  font: 'Lucida Grande'
  background-image url('data:image/svg+xml;utf8,<svg attr="value"></svg>')