body {
	display: none;
}

#id1 {
	display: none;
}

.class1 {
	display: none;

	& #id1 {
		display: none;
	}

	&_bem1 {
		display: none;

		^[0]:hover {
			display: none;

			&^[1..-1] {
				display: none;
			}
		}

		~/:hover & {
			display: none;
		}

		/body {
			display: none;
		}
	}

	.class2.class3 {
		../input {
			display: none;
		}
	}

	.\\--class4 {
		display: none;
	}

	&:hover:not(.--limited) {
		display: none;
	}

	&[disabled] {
		display: none;
	}

	input[type=number]::-webkit-outer-spin-button {
		display: none;
	}

	.class5::after {
		display: none;
	}

	&[data-quantity*='-'] {
		display: none;
	}
}

body > a {
	display: none;
}