row=1
row=2
div:nth-child({row})
  display none

mySelectors='#foo,#bar,.class1'
{mySelectors+'.class2'}
  display none

.class3
  height 'calc(%s - %s)' % (a b)
  margin-{pos} 10px
  border-{dir[idx - 1]}-width 1px