//comment-1
//comment-2
.class1 //comment-3
  //comment-4
  //comment-5
  display none //comment-6
  //comment-7
  //comment-8



  //comment-9


  //comment-10
  //comment-11
  .class2
    display block
    var='http://example.com'//comment-11


//comment-12
.class3
  position static
  display none
  //comment-13
.class4
  display block

//comment-14
mixin1() //comment-15
  display block

mixin2(
  a,
  b) //this comment should not exist in the output because of the wrong `block.column` in Stylus parser
  display block