// first-top-comment
// second-top-comment
.class1 { // side-comment
	// another-first-top-comment
	// another-second-top-comment
	display: none; // another-side-comment
	// another-first-bottom-comment
	// another-second-bottom-comment
}