// comment-1
// comment-2
.class1 { // comment-3
	// comment-4
	// comment-5
	display: none; // comment-6

	// comment-9
	// comment-10
	.class2 {
		display: block;
		var = 'http://example.com'; // comment-11
	}
}