// comment-1
// comment-2
.class1 { // comment-3
	// comment-4
	// comment-5
	display: none; // comment-6

	// comment-7
	// comment-8

	// comment-9

	// comment-10
	// comment-11
	.class2 {
		display: block;
		var = 'http://example.com'; // comment-11
	}
}

// comment-12
.class3 {
	display: none;
	position: static;
	// comment-13
}

.class4 {
	display: block;
}

.class5 {
	// comment-16
	// comment-17
}

.class6 {
	// comment-18
	// comment-19
}

.class7 {
	.class8 {
		// comment-20
		// comment-21
	}
}

// comment-14
mixin1() { // comment-15
	display: block;
}

mixin2(a, b) { // comment-16
	display: block;
}

// comment-22
var ?= {
	a: 1,
	b: 2
};