/*top-comment*/
.class1 /*side-comment*/
  /*another-top-comment*/
  margin 8px /*another-middle-comment*/ 0 /*another-side-comment*/
  /*bottom-comment*/

/*first-line
second-line
*/
.class2
  /**
  documenting
  */
  /**
  *documenting-2
  */
  display block

.class3 /*middle*/, .class4 /*next*/ {
  display none
}

/*comment-a
comment-b
comment-c*/
mixin1() {
  display block
}