fun(n)
  bottom (n - 1) * 2px

@media (max-width: grid-breakpoints.mobile)
  h1
    font-size 10px
    drop-shadow '%spx %spx %spx green' % ((($width / 2) - 2) ($width - 4) ($width - 4))
    width: -($foo/16)em;