@viewport {
	color: #00f;
}

@supports (display: flex) {
	div {
		display: flex;
	}
}

@page :blank {
	@top-center {
		content: none;
	}
}

@foo {
	@bar {
		width: 10px;
	}
}

@css {
  .ie-opacity {
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=25);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=25)";
  }
}