add(a,b)
  a=unit(a,px)
  b=unit(b,px)
  a+b
body 
  padding add(10px,5)

func(x,y=unit(a,px))
  x**y
func(x:10,y:25)
alias=func

multi-returned-value-func()
	10px 25px

anonymous-func=@(a,b) {
  a > b
}

body
  color mix(#000,#fff,30%)
  color rgba(115,51,38,0.5)
  color hsla(10deg, 50%, 30%, 0.5)

+prefix-classes('foo-')
  .bar
    width 10px

box-shadow(a,args...)
  box-shadow args
  border-radius arguments