mixin1(n) {
	-webkit-border-radius: n;
}

mixin2(m = 1px, n = 2px, o = 3px, p = 4px) {
	margin: m n o p;
}

button {
	mixin1(5px);
	mixin1: 5px;
	mixin2(5px, p: 6px);
}

foo() {
	.bar {
		{block};
	}
}

+foo() {
	width: 10px;
}

.class1 {
	+foo() {
		height: 20px;
	}
}

nested-mixin(n) {
	inner-mixin(m) {
		margin: n m;
	}
}

body {
	nested-mixin(1);
}

font-face(family: 'Noto Sans', file-name: 'regular', base-path: '../fonts/noto/sans', formats: eot woff2 woff truetype);
font-face(
	family: 'Noto Sans',
	file-name: 'regular',
	base-path: '../fonts/noto/sans',
	formats: eot woff2 woff truetype
);