mixin(n) {
	-webkit-border-radius: n;
}

button {
	mixin(5px);
	mixin: 5px;
}

foo() {
	.bar {
		{block};
	}
}

+foo() {
	width: 10px;
}

.class1 {
	+foo() {
		height: 20px;
	}
}

nested-mixin(n) {
	inner-mixin(m) {
		margin: n m;
	}
}

body {
	nested-mixin(1);
}