body
  background red unless false
  background blue if true

  if x == y
    margin 1

  if x > y
    padding x
  else if x < y
    padding x
  else
    padding 0

  unless x == y
    display none

negative(n)
  error('invalid number') unless n is a 'unit'
  return yes if n < 0
  no

@import -fn if (exists(-fn));