.class1 {
	mixin() {
		display: func();
	}
	func() {
		1 + 2;
	}
	var = func();
	mixin();
	margin: 0;
	padding: 0;
}

.class2 {
	margin: 0;
	padding: 0;
	.class3 {
		display: none;
	}
	.class4 {
		display: none;
	}
}

mixin() {
	display: func();
}

func() {
	1 + 2;
}

var = func();
mixin();
