$keyframe-name = pulse;

@keyframes {$keyframe-name} {
	for i in 0 .. 10 {
		{10% * i} {
			opacity: (i / 10);
		}
	}
}

@keyframes fade-in-{number + 1} {
	0% {
		opacity: 0;
	}
}

@keyframes foo {
	from {
		color: black;
	}

	to {
		color: white;
	}
}

.class1 {
	@keyframes bar {
		from {
			color: red;
		}

		50% {
			color: green;
		}

		to {
			color: blue;
		}
	}
}
