//   even this
.tw-mobile-modal-popup, #xxx
  &-appear
    transform translateY(100vh)

    &.tw-mobile-modal-popup-appear-active
      transform translateY(0px)
      transition transform 0.5s
  /**
    asdadsa
  */
  //first-first
  //first-second
  &__modal-content// side
    //before
    position absolute /*you know*/
    top 0px