body {
	filter: unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')');
	padding: 1 \+ 2;
	font: 14px / 1.4;
	font: (14px / 1.4);
	transition: 0.3s opacity;
	-webkit-user-select: none !important;
	-moz-user-select: none;
	-ms-user-select: none;
	box-shadow: 0 0 0 1px red, 0 0 0 1px blue;
}