body {
	filter: unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')');
	padding: 1 \+ 2;
	top: 14px - @padding;
	bottom: -(14px - @padding);
	height: (1 + 2 - 3) * 4;
	transition: 0.3s opacity;
	-webkit-user-select: none !important;
	-moz-user-select: none;
	-ms-user-select: none;
	box-shadow: 0 0 0 1px red, 0 0 0 1px blue;
}