@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Mono');

html {
	font-size: 16px;
	cursor: default;
}

* {
	font-size: 1em;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	color: #212121;
	overflow-x: hidden;
}

mark, code, samp {
	font-family: 'Roboto Mono', monospace;
	padding: 0 5px 2px 5px;
}

mark {
	background: #D50000;
	color: white;
}

mark.alt {
	background: #00BFA5;
}

a.nada {
	text-decoration: none;
}

code.default-value {
	background: #FFC400;
}

code {
	background: #EEEEEE;
}

samp {
	background: #212121;
	color: #FAFAFA;
}

article > code, div > code, samp {
	display: block;
	padding: 5px 10px 5px 10px;
}

h1 {
	margin: 2rem 0;
	font-size: 2rem;
	line-height: normal;
}

h2 {
	margin: 0;
	font-size: 1.5rem;
	line-height: calc(2rem + 2px);
}

.deprecated b {
	color: #607D8B;
}

.deprecated mark {
	background: #607D8B;
	text-decoration: line-through;
	text-decoration-color: white;
}

.deprecated code.default-value {
	background: #B0BEC6;
}

.deprecated code {
	background: #CFD8DC;
}

p {
	margin: 2rem 0 1rem 0;
	text-align: justify;
}

h2 + p {
	margin-top: 1rem;
}

s {
	color: #4CAF50;
	text-decoration: none;
}

.no-break {
	white-space: nowrap;
}

nav {
	width: 200px;
	height: 100vh;
	position: fixed;
	background: #D50000;
	color: white;
	overflow: hidden;
}

nav a {
	display: block;
	padding: 5px 10px 5px 20px;
	color: white;
	text-decoration: none;
}

nav a:not(.nofx):hover {
	background: #FF1919;
}

@media (min-height: 600px) {
	nav a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

#logo {
	height: 128px;
	border: 1.5px solid;
	margin: 20px;
}

@media (max-height: 450px) {
	nav {
		padding-top: 5px;
	}

	#logo {
		display: none;
	}
}

#repository {
	padding: 0;
	position: absolute;
	bottom: 15px;
	right: 15px;
}

#repository img {
	width: 32px;
}

main {
	margin-left: 200px;
	padding: 2rem 0 80vh 0;
	line-height: 1.5rem;
	position: relative;
}

main > *:first-child {
	margin-top: 0;
}

main > *:last-child {
	margin-bottom: 0;
}

main a {
	color: #D50000;
}

article {
	max-width: 600px;
	margin: 6rem auto;
	padding: 0 10px;
}

article > img {
	width: 100%;
}

article > *:first-child {
	margin-top: 0;
}

article > *:last-child {
	margin-bottom: 0;
}

section {
	margin: 4rem 0;
}

section > *:first-child {
	margin-top: 0;
}

section > *:last-child {
	margin-bottom: 0;
}

#availability {
	display: flex;
	padding: 0 40px;
	border: 5px solid #CFD8DC;
	border-radius: 10px;
	justify-content: space-around;
	flex-wrap: wrap;
}

#availability > a {
	display: inline-block;
	margin: 10px;
	color: #212121;
	text-align: center;
	text-decoration: none;
}

#availability > a:hover {
	color: #D50000;
	text-decoration: underline;
}

#availability img {
	width: 128px;
}

#availability figcaption {
	width: 144px;
}

#demo-container, #demo-input, #demo-output {
	height: 50vh;
	min-height: 300px;
}

#demo-input, #demo-output {
	position: absolute;
	width: 50%;
	display: block;
	padding: 5px 10px;
	font-family: 'Roboto Mono', monospace;
	font-size: 1rem;
}

@media (min-height: 800px) {
	#demo-container, #demo-input, #demo-output {
		height: 60vh;
	}
}

#demo-input {
	border: none;
	background: #EEEEEE;
	outline: none;
	left: 0;
}

#demo-output {
	background: #212121;
	color: #FAFAFA;
	transition: background-color 0.3s ease-in-out;
	word-wrap: break-word;
	box-sizing: border-box;
	overflow: auto;
	right: 0;
}

#demo-output.error {
	background: #D50000;
}

#demo-options {
	font-family: 'Roboto Mono', monospace;
	margin-top: 5px;
	user-select: none;
	position: relative;
	width: calc(100vw - 240px);
	left: calc(-50vw + 120px + 300px);
	text-align: center;
}

@media (max-width: 800px) {
	nav {
		position: initial;
		height: auto;
		width: 100%;
	}

	#repository {
		position: initial;
		text-align: right;
		padding: 10px 20px 15px 0;
	}

	main {
		margin-left: 0;
	}

	#demo-options {
		width: calc(100vw - 40px);
		left: calc(-50vw + 20px + 300px);
	}
}

@media (max-width: 600px) {
	#demo-options {
		width: 100%;
		left: 0;
		overflow-x: auto;
	}
}

#demo-options label {
	display: inline-block;
	margin: 0 5px 5px 0;
	background: #D50000;
	color: white;
}

#demo-options input[type=checkbox], #demo-options input[type=text], #demo-options input[type=number], #demo-options select {
	font-family: 'Roboto Mono', monospace;
	font-weight: bold;
	border: 1px solid #D50000;
	padding: 0;
	background: #FAFAFA;
	font-size: 1rem;
	line-height: 1.5rem;
	outline: none;
}

#demo-options input[type=checkbox] {
	-webkit-appearance: none;
	margin: 0;
	padding: 0 3px;
	background: #FAFAFA;
}

#demo-options input[type=checkbox]::before {
	content: 'false';
}

#demo-options input[type=checkbox]:checked {
	background: #FFEB3B;
}

#demo-options input[type=checkbox]:checked::before {
	content: 'true';	
}

#demo-options input[type=number] {
	width: 50px;
	text-align: right;
}

#demo-options label > * {
	margin-left: 5px !important;
}

#demo-options label > span:last-child {
	margin-right: 5px;
}

label, input[type=checkbox] {
	cursor: pointer;
}

.table, table {
	display: table;
	width: 100%;
	border-spacing: 0;
	font-family: 'Roboto Mono', monospace;
}

.table:not(.responsive) + .table.responsive {
	display: none;
}

.table-head {
	font-weight: bold;
}

.table-head, .table-body {
	display: table-row;
}

.table-head > *, .table-body > *, th, td {
	padding: 5px 10px;
	text-align: left;
	vertical-align: top;
}

.table-head > *, .table-body > * {
	display: table-cell;
	width: 50%;
}

.table-head > *:only-child, .table-body > *:only-child {
	width: auto;
}

.table-head > *:nth-child(odd), th:nth-child(odd) {
	background: #BDBDBD;
}

.table-head > *:nth-child(even), th:nth-child(even) {
	background: #9E9E9E;
}

.table-body > *:nth-child(odd), tr:nth-child(odd) td:nth-child(odd), tr:nth-child(even) td:nth-child(even) {
	background: #EEEEEE;
}

.table-body > *:nth-child(even), tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {
	background: #E0E0E0;
}

#demo-output.error {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

@keyframes shake {
	10%, 90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%, 80% {
		transform: translate3d(2px, 0, 0);
	}

	30%, 50%, 70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%, 60% {
		transform: translate3d(4px, 0, 0);
	}
}

.no-inner {
	padding: 0;
}

#go-to-menu {
	display: none;
	position: fixed;
	background: #D50000;
	bottom: 28px;
	right: 28px;
	width: 56px;
	height: 56px;
	border-radius: 50%;
    align-items: center;
	justify-content: center;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
	cursor: pointer;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
	main {
		padding-bottom: 2rem;
	}

	#availability {
		padding: 0;
	}

	#demo-container {
		height: 100vh;
		min-height: auto;
	}

	#demo-input, #demo-output {
		width: 100%;
		height: 50vh;
	}

	#demo-output {
		margin-top: 50vh;
	}

	.table.responsive {
		display: block !important;
	}

	.table:not(.responsive) {
		display: none;
	}

	.table-head, .table-body {
		display: block;
	}

	.table-head > *, .table-body > * {
		display: block;
		width: auto;
	}

	#go-to-menu {
    	display: flex;
	}
}
