body
  display none
  animation-name none
  animation none
  background none
  -webkit-touch-callout none
  -webkit-appearance none
  size 10px 20px // nib extended property
  width 10px
  height 20px
  position fixed
  absolute bottom right // nib extended property