body {
	absolute: bottom right; // nib extended property
	position: fixed;
	display: none;
	size: 10px 20px; // nib extended property
	width: 10px;
	height: 20px;
	background: none;
	animation: none;
	animation-name: none;
	-webkit-touch-callout: none;
	-webkit-appearance: none;
}