foo = { width: 10px, height: 20px };
bar = {
	'0': 'none',
	a1: {
		b1: true,
		b2: false
	},
	a2: { c1: {} }
};
qux = 30px;
bar['a3'] = qux;
bar[qux] = qux;
bar['a2']['c1']['d1'] = 40px;
zot = 'd1';

body {
	{foo};
	// Must have a colon because of the bug in Stylus itself; See https://github.com/stylus/stylus/issues/2239
	margin: bar['a2'].c1[zot];
	padding: bar.a2.c1.d1;
}

$abc[three] = $abc.one + 2;
$abc.four = $abc[two] + 2;
$abc[five] = 2 + 3;
$abc.six = 6;