body
	for num,index in 1 2 3
		foo num

	for $i in $bar.baz
		foo $i

for key,value in obj
	{key}:value

sum(nums)
	val = 0
	val += n for n in nums
	val += (n+1) for n in nums

get(hash,key)
	return pair[1] if pair[0] == key for pair in hash
	return (pair[1]) if pair[0] == key for pair in hash