body {
	for num, index in 1 2 3 {
		foo: num;
	}
}

for key, value in obj {
	{key}: value;
}

sum(nums) {
	sum = 0;

	sum += n for n in nums;
}

get(hash, key) {
	return pair[1] if (pair[0] == key) for pair in hash;
}